.addFormSectionFormateurs {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.buttonDivBoxFormateurs {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.addFormButtonFormateurs {
    border: none;
    border-radius: 15px;
    height: 50px;
    width: 400px;
    background-color: #90C99B;
    color: #1C1D3B;
    font-size: 20px;
    font-weight: bold;
}

.addFormButtonFormateurs:hover {
    border: 2px solid white;
    border-radius: 15px;
    height: 50px;
    width: 400px;
    background-color: #90C99B;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.cancelButtonFormateurs {
    border: none;
    border-radius: 15px;
    height: 50px;
    width: 400px;
    background-color: #828282;
    color: #1C1D3B;
    font-size: 20px;
    font-weight: bold;
}

.cancelButtonFormateurs:hover {
    border: 2px solid white;
    border-radius: 15px;
    height: 50px;
    width: 400px;
    background-color: #828282;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.addFicheSectionFormateurs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #007700a8;
    border-radius: 10px;
    border: 3px solid #1C1D3B;
    width: 80%;
    height: 120px;
}

.inputDivBoxFormateurs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
}

.inputDivFormateurs {
    display: flex;
    align-items: center;
    gap: 10px;
}

.addInputTitleFormateurs {
    font-weight: bold;
    font-size: 20px;
}

.firstNameInputFormateurs {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    max-width: 150px;
    min-height: 40px;
    text-align: center;
}

.lastNameInputFormateurs {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    max-width: 150px;
    min-height: 40px;
    text-align: center;
}

.emailInputFormateurs {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    width: 250px;
    min-height: 40px;
    text-align: center;
}

