.addFormsSectionFormateurs {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.buttonDivBoxFormateurs {
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin-bottom: 25px;
}

.addFormButtonFormateurs {
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    background-color: #90C99B;
    color: #1C1D3B;
    font-size: 26px;
    font-weight: bold;
}

.addFormButtonFormateurs:hover {
    outline: 3px solid #1C1D3B;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    background-color: #90C99B;
    color: #1C1D3B;
    font-size: 26px;
    font-weight: bold;
}

.cancelButtonFormateurs {
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    background-color: #828282;
    color: #1C1D3B;
    font-size: 26px;
    font-weight: bold;
}

.cancelButtonFormateurs:hover {
    outline: 3px solid #1C1D3B;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    background-color: #828282;
    color: #1C1D3B;
    font-size: 26px;
    font-weight: bold;
}

.addFicheSectionFormateurs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #007700a8;
    border-radius: 10px;
    border: 3px solid #1C1D3B;
    width: 95%;
}

.inputDivBoxFormateurs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
}

.inputDivFormateurs {
    display: flex;
    align-items: center;
    gap: 10px;
}

.addInputTitleFormateurs {
    font-weight: bold;
    font-size: 20px;
}

.firstNameInputFormateurs {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    max-width: 150px;
    min-height: 40px;
    text-align: center;
}

.lastNameInputFormateurs {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    max-width: 150px;
    min-height: 40px;
    text-align: center;
}

.emailInputFormateurs {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    width: 250px;
    min-height: 40px;
    text-align: center;
}

.addFormCSVFileSectionFormateurs {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #007700a8;
    border: 3px solid #1C1D3B;
    border-radius: 10px;
    margin-bottom: 10px;
}

.addCSVFormButtonFormateurs {
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    background-color: #90C99B;
    color: #1C1D3B;
    font-size: 20px;
    font-weight: bold;
}

.addCSVFormButtonFormateurs:hover {
    outline: 3px solid #1C1D3B;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    background-color: #90C99B;
    color: #1C1D3B;
    font-size: 20px;
    font-weight: bold;
}

.addCSVFileTitleFormateurs {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.testSection {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0
}

.inputCSVDivFormateurs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.inputCSVFileFormateurs {
    direction: rtl;
    margin-right: 45px;
}

.addFormSectionFormateurs {
    width: 75%;
}