.itemsContainerSalles {
    display: grid;
    grid-template-columns: 20% 10% 45% 10% 15%;
    border-top: 1px solid #1C1D3B;
    font-weight: 500;
}

.itemsContainerSalles:hover {
    display: grid;
    grid-template-columns: 20% 10% 45% 10% 15%;
    background-color: #ef9b524e;
}

.itemsContainerSelectedSalles {
    display: grid;
    grid-template-columns: 20% 10% 45% 10% 15%;
    background-color: #ef9b524e;
    border-top: 2px solid #1C1D3B;
    border-bottom: 1px solid #1C1D3B;
    font-weight:800;
}

.itemsSalles {
    text-align: center;
    color: #1C1D3B;
    font-size: 18px;
    border-right: 1px solid #1C1D3B;
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items2Salles {
    text-align: center;
    color: #1C1D3B;
    font-size: 18px;
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}