.buttonSectionAutres {
    display: grid;
    grid-template-columns: 10% 10% 80%;
    gap: 10px;
    width: 60%;
    height: 50px;
    margin-top: 20px;
}

.updateButtonBoxAutres {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDE040;
    border: none;
    border-radius: 15px;
    width: 50px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.updateButtonBoxAutres:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDE040;
    border: 4px solid #1C1D3B;
    border-radius: 15px;
    width: 50px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.deleteButtonBoxAutres {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d30513;
    border: none;
    border-radius: 15px;
    width: 50px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.deleteButtonBoxAutres:hover { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e30613;
    border: 4px solid #1C1D3B;
    border-radius: 15px;
    width: 50px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.addButtonBoxFicheAutres {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #90C99B;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.addButtonBoxFicheAutres:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #90C99B;
    border: 4px solid #1C1D3B;
    border-radius: 15px;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.ficheSectionAutres {
    width: 95%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #d9d9d9e5;
    border-radius: 10px;
    border: 3px solid #1C1D3B;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.topRowFiche {
    width: 100%;
    display: flex;
    padding-left: 50px;
    gap: 8vw;
}

.botRowFiche {
    width: 100%;
    display: flex;
    padding-left: 50px;
    gap: 12%;
}

.leftForm {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    padding-left: 50px;
    gap: 20px;
}

.rightForm {
    width: 100%;
    display: flex;
}

.stagiairesSessionsTabs {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.ficheSectionUpdateAutres {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #d9d9d9e5;
    border-radius: 10px;
    border: 4px dashed #e9b826;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.updateButtonBoxAutres:hover + .ficheSectionAutres,
.hoveredUpdateAutres {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #d9d9d9e5;
    border-radius: 10px;
    border: 4px dashed #e9b826;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.deleteButtonBoxAutres:hover + .ficheSectionAutres,
.hoveredDeleteAutres {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #d9d9d9e5;
    border-radius: 10px;
    border: 4px dashed #f71e2c;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.titleInputBoxAutres {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.inputBoxAutres {
    background-color: white;
    border-radius: 5px;
    padding: 10px 5px;
}

.formSectionAutres {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.inputSectionAutres {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.updateButtonsSectionAutres {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-right: 1%;
    gap: 10px;
}

.formSaveButtonAutres {
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 150px;
    background-color: #90C99B;
    color: #1C1D3B;
    font-weight: bold;
}

.formSaveButtonAutres:hover {
    border: 2px solid white;
    border-radius: 15px;
    height: 30px;
    width: 150px;
    background-color: #90C99B;
    color: white;
    font-weight: bold;
}

.formCancelButtonAutres {
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 150px;
    background-color: #828282;
    color: #1C1D3B;
    font-weight: bold;
}

.formCancelButtonAutres:hover {
    border: 2px solid white;
    border-radius: 15px;
    height: 30px;
    width: 150px;
    background-color: #828282;
    color: white;
    font-weight: bold;
}

.inputTitleAutres {
    color: #1C1D3B;
    font-size: 23px;
}

.typeInputTextAutres {
    border: none;
    height: 20px;
    width: 200px;
    font-size: 16px;
    font-weight: 700;
    color: #1C1D3B;
    text-align: center;
}

.salleInputAutres {
    border: none;
    height: 20px;
    width: 200px;
    font-size: 16px;
    font-weight: 700;
    color: #1C1D3B;
    text-align: center;
}

.descriptionInputTextAutres {
    border: none;
    height: 20px;
    width: 400px;
    font-size: 16px;
    font-weight: 700;
    color: #1C1D3B;
    text-align: center;
}

.descriptionFormInputTextAutres {
    border: none;
    height: 50px;
    width: 400px;
    font-size: 16px;
    font-weight: 700;
    color: #1C1D3B;
    padding: 5px 5px;
}

.salleInputTextAutres {
    border: none;
    height: 20px;
    width: 200px;
    font-size: 16px;
    font-weight: 700;
    color: #1C1D3B;
    text-align: center;
}

.dateInputAutres {
    border: none;
    height: 20px;
    width: 120px;
    font-size: 16px;
    font-weight: 700;
    color: #1C1D3B;
    text-align: center;
}