.buttonSectionPromotions {
    display: grid;
    grid-template-columns: 10% 10% 80%;
    gap: 10px;
    width: 60%;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.updateButtonBoxPromotions {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDE040;
    border: none;
    border-radius: 15px;
    width: 50px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.updateButtonBoxPromotions:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDE040;
    border: 4px solid #1C1D3B;
    border-radius: 15px;
    width: 50px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.deleteButtonBoxPromotions {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d30513;
    border: none;
    border-radius: 15px;
    width: 50px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.deleteButtonBoxPromotions:hover { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e30613;
    border: 4px solid #1C1D3B;
    border-radius: 15px;
    width: 50px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.addButtonBoxFichePromotions {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #90C99B;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.addButtonBoxFichePromotions:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #90C99B;
    border: 4px solid #1C1D3B;
    border-radius: 15px;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.ficheSectionPromotions {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #d9d9d9e5;
    border-radius: 10px;
    border: 3px solid #1C1D3B;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.topRow {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.botRow {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.stagiairesSessionsTabs {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.ficheSectionUpdatePromotions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d9d9d9e5;
    border-radius: 10px;
    border: 4px dashed #e9b826;
    width: 95%;
    height: 120px;
    margin-bottom: 40px;
}

.updateButtonBoxPromotions:hover + .ficheSectionPromotions,
.hoveredUpdatePromotions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d9d9d9e5;
    border-radius: 10px;
    width: 95%;
    height: 120px;
    margin-bottom: 40px;
    border: 4px dashed #e9b826;
}

.deleteButtonBoxPromotions:hover + .ficheSectionPromotions,
.hoveredDeletePromotions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #007700a8;
    border-radius: 10px;
    width: 95%;
    height: 120px;
    margin-bottom: 40px;
    border: 4px dashed #f71e2c;
}

.titleInputBoxPromotions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.inputBoxPromotions {
    background-color: white;
    border-radius: 5px;
    padding: 10px 5px;
}

.formSectionPromotions {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.inputSectionPromotions {
    display: flex;
    justify-content: space-around;
}

.updateButtonsSectionPromotions {
    display: flex;
    justify-content: space-evenly;
}

.formSaveButtonPromotions {
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    background-color: #90C99B;
    color: #1C1D3B;
    font-weight: bold;
}

.formSaveButtonPromotions:hover {
    border: 2px solid white;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    background-color: #90C99B;
    color: white;
    font-weight: bold;
}

.formCancelButtonPromotions {
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    background-color: #828282;
    color: #1C1D3B;
    font-weight: bold;
}

.formCancelButtonPromotions:hover {
    border: 2px solid white;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    background-color: #828282;
    color: white;
    font-weight: bold;
}

.inputTitlePromotions {
    color: #1C1D3B;
    font-size: 20px;
}

.typeInputTextPromotions {
    border: none;
    height: 20px;
    min-width: 100px;
    font-size: 16px;
    font-weight: 700;
    color: #1C1D3B;
    text-align: center;
}

.descriptionInputTextPromotions {
    border: none;
    height: 20px;
    min-width: 100px;
    font-size: 16px;
    font-weight: 700;
    color: #1C1D3B;
    text-align: center;
}

.salleInputTextPromotions {
    border: none;
    height: 20px;
    min-width: 100px;
    font-size: 16px;
    font-weight: 700;
    color: #1C1D3B;
    text-align: center;
}

.formateurInputTextPromotions {
    border: none;
    height: 20px;
    min-width: 100px;
    font-size: 16px;
    font-weight: 700;
    color: #1C1D3B;
    text-align: center;
}

.dateInputPromotions {
    border: none;
    height: 20px;
    min-width: 100px;
    font-size: 16px;
    font-weight: 700;
    color: #1C1D3B;
    text-align: center;
}