.listAutres {
    display: flex;
    flex-direction: column;
    border: 3px solid #1C1D3B;
    border-radius: 10px;
    background-color: white;
    width: 95%;
    max-height: 600px;
    overflow-y: scroll;
    margin: 0 100px;
}

.listFicheAutres {
    display: flex;
    flex-direction: column;
    border: 3px solid #1C1D3B;
    border-radius: 10px;
    background-color: white;
    width: 95%;
    max-height: 450px;
    overflow-y: scroll;
    margin: 0 100px;
}

.listAddAutres {
    display: flex;
    flex-direction: column;
    border: 3px solid #1C1D3B;
    border-radius: 10px;
    background-color: white;
    width: 95%;
    max-height: 450px;
    overflow-y: scroll;
    margin: 50px 100px;
}

.filterBarAutres {
    display: grid;
    align-items: center;
    grid-template-columns: 15% 10% 15% 10% 30% 20%;
    grid-template-areas: 
        "all type name salle . search";
    background-color: #e30613;
    border-radius: 10px 0 0 0;
    border-bottom: 1px solid #1C1D3B;
    position: sticky;
    top: 0px;
}

.allAutres {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: all;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 15px 0;
    background-color: #e30613;
    border: none;
    border-right: 1px solid #1C1D3B;
}

.filterNameButtonAutres {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: name;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 15px 0;
    background-color: #e30613;
    border: none;
    border-right: 1px solid #1C1D3B;
}

.filterNameButtonAutres:hover {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: name;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 15px 0;
    background-color: #bb0511;
    border: none;
    border-right: 1px solid #1C1D3B;
    text-decoration: underline;
}

.filterSalleButtonAutres {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: salle;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 15px 0;
    background-color: #e30613;
    border: none;
    border-right: 1px solid #1C1D3B;
}

.filterSalleButtonAutres:hover {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: salle;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 15px 0;
    background-color: #bb0511;
    border: none;
    border-right: 1px solid #1C1D3B;
    text-decoration: underline;
}

.filterTypeButtonAutres {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: type;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 15px 0;
    background-color: #e30613;
    border: none;
    border-right: 1px solid #1C1D3B;
}

.filterTypeButtonAutres:hover {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: type;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 15px 0;
    background-color: #bb0511;
    border: none;
    border-right: 1px solid #1C1D3B;
    text-decoration: underline;
}

.searchInputAutres {
    grid-area: search;
    border: none;
    border-radius: 5px;
    height: 30px;
    margin-right: 10px;
}

.gridAutres {
    display: grid;
    grid-template-columns: 10% 30% 10% 10% 10% 15% 15%;
    padding: 15px 0 15px 0;
    background-color: #D9D9D9;
    color: #1C1D3B;
    position: sticky;
    top: 53px;
}

.listContainerAutres {
    display: flex;
    flex-direction: column;
}

.gridTitleAutres {
    text-align: center;
    font-size: 20px;
}