.formateursList {
    display: flex;
    flex-direction: column;
    border: 1px solid #1C1D3B;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    width: 80%;
    max-height: 600px;
    overflow-y: scroll;
    margin: 0 100px;
}

.formateursListFiche {
    display: flex;
    flex-direction: column;
    border: 1px solid #1C1D3B;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    width: 80%;
    max-height: 450px;
    overflow-y: scroll;
    margin: 0 100px;
}

.formateursListAdd {
    display: flex;
    flex-direction: column;
    border: 1px solid #1C1D3B;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    width: 80%;
    max-height: 450px;
    overflow-y: scroll;
    margin: 0 100px;
}

.filterBar {
    display: grid;
    align-items: center;
    grid-template-columns: 15% 10% 10% 45% 20%;
    grid-template-areas: 
        "all name dc . search";
    background-color: #e30613;
    border-radius: 10px 0 0 0;
    border-bottom: 1px solid #1C1D3B;
    position: sticky;
    top: 0px;
}

.filterAllButton {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: all;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 15px 0;
    background-color: #e30613;
    border: none;
    border-right: 1px solid #1C1D3B;
    border-radius: 10px 0 0 0;
}

.filterNameButton {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: name;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 15px 0;
    background-color: #e30613;
    border: none;
    border-right: 1px solid #1C1D3B;
}

.filterNameButton:hover {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: name;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 15px 0;
    background-color: #c30512;
    border: none;
    border-right: 1px solid #1C1D3B;
    text-decoration: underline;
}

.filterDcButton {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: dc;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 15px 0;
    background-color: #e30613;
    border: none;
    border-right: 1px solid #1C1D3B;
}

.filterDcButton:hover {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: dc;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 15px 0;
    background-color: #c30512;
    border: none;
    border-right: 1px solid #1C1D3B;
    text-decoration: underline;
}

.searchInput {
    grid-area: search;
    border: none;
    border-radius: 5px;
    height: 30px;
    margin-right: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 20% 20% 40% 20%;
    padding: 15px 0 15px 0;
    background-color: #D9D9D9;
    color: #1C1D3B;
    position: sticky;
    top: 53px;
}

.listContainer {
    display: flex;
    flex-direction: column;
}

.gridTitle {
    text-align: center;
    font-size: 20px;
}