.listPromotionFiche {
    display: flex;
    flex-direction: column;
    border: 3px solid #1C1D3B;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    width: 50%;
    height: 300px;
    max-height: 300px;
    overflow-y: scroll;
    margin: 0 40px;
}

.filterBarPromotionFiche {
    display: grid;
    align-items: center;
    grid-template-columns: 25% 35% 10% 10% 10% 10%;
    grid-template-areas: 
        "name search . validate update length";
    background-color: #0098b1;
    border-radius: 10px 0 0 0;
    border-bottom: 1px solid #1C1D3B;
    position: sticky;
    top: 0px;
}

.allPromotionFiche {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: name;
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 15px 0;
    background-color: #0098b1;
    border: none;
}

.searchInputPromotionFiche {
    grid-area: search;
    border: none;
    border-radius: 5px;
    height: 30px;
    margin-right: 10px;
}

.udpateStagaireListButton:hover {
    grid-area: update;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: #1C1D3B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.updatelogo {
    grid-area: update;
    width: 40px;
    height: 40px;
}

.updatelogo:hover {
    grid-area: update;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    outline: 2px solid #1C1D3B;
}

.validateLogo {
    grid-area: validate;
    width: 40px;
    height: 40px;
}

.sumPromotionFiche {
    grid-area: length;
    height: 100%;
    color: white;
    font-size: 16px;
    border-left: 1px solid #1C1D3B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridStagiairePromotionFiche {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    padding: 15px 0;
    background-color: #D9D9D9;
    color: #1C1D3B;
    position: sticky;
    top: 50px;
    border-bottom: 1px solid #1C1D3B;
}

.gridStagiairePromotionFicheUpdate {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    padding: 15px 0;
    background-color: #D9D9D9;
    color: #1C1D3B;
    position: sticky;
    top: 92px;
    border-bottom: 1px solid #1C1D3B;
}

.gridSessionPromotionFiche {
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    padding: 15px 0 15px 0;
    background-color: #D9D9D9;
    color: #1C1D3B;
    position: sticky;
    top: 50px;
    border-bottom: 1px solid #1C1D3B;
}

.listContainerPromotionFiche {
    display: flex;
    flex-direction: column;
}

.gridTitlePromotionFiche {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

.addLogo {
    width: 35px;
}

.addStagiaireMenu {
    position: sticky;
    top: 50px;
}

.stagiaireInputPromotions {
    border: none;
    border-bottom: 1px solid #1C1D3B;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    font-size: 16px;
}